include LICENSE
include README.md
include CHANGELOG.md
include pyproject.toml
recursive-include src *.py
recursive-include configs *.json *.yaml
recursive-include docs *.md
prune tests
prune docker
prune scripts
prune .github
